<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055615315566-j5r9i7qg2eikgt445ecidv7v3trmtcl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055615315566-j5r9i7qg2eikgt445ecidv7v3trmtcl3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1055615315566-38nsl0ed4ial0hsp7pe204dd0m5kl04v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8wdrkg6CKgfZK0yMhl7MqiaARKsBeelY</string>
	<key>GCM_SENDER_ID</key>
	<string>1055615315566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.siddhi.gromart.driver</string>
	<key>PROJECT_ID</key>
	<string>gromart-ee11f</string>
	<key>STORAGE_BUCKET</key>
	<string>gromart-ee11f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055615315566:ios:4d706d747eef591441c07f</string>
	<key>DATABASE_URL</key>
	<string>https://gromart-ee11f-default-rtdb.firebaseio.com</string>
</dict>
</plist>